
Top{
  display: flex;
}

Orders {
  color: black;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  height: 11%;
  width: 15%;
}

Stats {
  display: flex; 
  align-items: center;
  flex-direction: column;
  width: 100%;
  height : 25%;
}

name{
  font-size: 25px;
  text-decoration: underline;
  border: 2px solid black ;
  display: flex;
  justify-content: space-around;
  height: 60%;
  width: 80%;
  color :  black;
}

health{
  font-size: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 80%; 
  color: green;
}

mana{
  font-size: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  flex-wrap:  wrap;
  height: 100%;
  width: 80%; 
  color: #8A2BE2;
}

level{
  font-size: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  width: 80%;
  color: orange;
}

action{
  font-size: 30px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 40%;
  color: black;
}

troll{ 
       src="Troll.png" alt="troll">
  font-size: 20px;
  border: 2px solid black;
  display: flex;
  align-items: flex-start;
  color:  black;
  height: 60%;
  width: 100%;
}

Bottom{
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 50%;
}

space{
  display: flex;
  justify-content: space-around;

  height: 60%;
  width: 30%;
}

body{
  background-image: url("sky1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.myButton1 {
	box-shadow:inset 0px 39px 0px -24px #eb5beb;
	background:linear-gradient(to bottom, #e320cc 5%, #d13eb4 100%);
	background-color:#e320cc;
	border-radius:11px;
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:9px 15px;
	text-decoration:none;
	text-shadow:0px 1px 50px #b23e35;
}
.myButton:hover1 {
	background:linear-gradient(to bottom, #d13eb4 5%, #e320cc 100%);
	background-color:#d13eb4;
}
.myButton:active1 {
	position:relative;
	top:1px;
}
.myButton2 {
	box-shadow:inset 0px 39px 0px -24px #ff8121;
	background:linear-gradient(to bottom, #eb722c 5%, #dfe620 100%);
	background-color:#eb722c;
	border-radius:11px;
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:9px 15px;
	text-decoration:none;
	text-shadow:0px 1px 50px #ffff0d;
}
.myButton:hover2 {
	background:linear-gradient(to bottom, #dfe620 5%, #eb722c 100%);
	background-color:#dfe620;
}
.myButton:active2 {
	position:relative;
	top:1px;
}
.myButton {
	box-shadow:inset 0px 39px 0px -24px #1e1d2e;
	background:linear-gradient(to bottom, #1a1a2b 5%, #262433 100%);
	background-color:#1a1a2b;
	border-radius:11px;
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:9px 15px;
	text-decoration:none;
	text-shadow:0px 1px 50px #131633;
}
.myButton:hover {
	background:linear-gradient(to bottom, #262433 5%, #1a1a2b 100%);
	background-color:#262433;
}
.myButton:active {
	position:relative;
	top:1px;
}